body {
  margin: 0;
  padding: 0;
  font-family: 'zabras', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('img/desert.png');
  background-position: center;
}

canvas {
  background-color: black;
  display: block;
}

h1 {
  font-size: 64px;
  letter-spacing: 4px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.startScreen {
  width: 720px;
  height: 480px;
  position: relative;
}
.startScreen-img {
  width: 100%;
  height: auto;
  display: block;
}
.controls {
  color: white;
  position: absolute;
  top: 77%;
  left: 69%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 21px;
  font-size: 27px;
  width: 720px;
}
.start-button {
  cursor: pointer;
  position: absolute;
  top: 10%; /* Passt dies nach Bedarf an */
  left: 9%;
  transform: translate(-50%, -50%);
  border: none;
  background: orange;
  padding: 12px 20px;
  font-family: 'zabras';
  font-size: 32px;
  border-radius: 12px;
}
.volume {
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 3%;
}
.endScreen {
  width: 720px;
  height: 480px;
  position: relative;
}
.end-background {
  width: 720px;
  height: 480px;
  position: absolute;
}
.end-gameover {
  width: 720px;
  height: 480px;
  position: absolute;
}
.endScreen button {
  cursor: pointer;
  position: absolute;
  top: 10%; /* Passt dies nach Bedarf an */
  left: 10%;
  transform: translate(-50%, -50%);
  border: none;
  background: orange;
  padding: 12px 20px;
  font-family: 'zabras';
  font-size: 32px;
  border-radius: 12px;
}
.endScreenWin {
  width: 720px;
  height: 480px;
  position: relative;
}
.end-backgroundWin {
  width: 720px;
  height: 480px;
  position: absolute;
}
.end-gameoverWin {
  width: 720px;
  height: 480px;
  position: absolute;
}
.endScreenWin button {
  cursor: pointer;
  position: absolute;
  top: 10%; /* Passt dies nach Bedarf an */
  left: 10%;
  transform: translate(-50%, -50%);
  border: none;
  background: orange;
  padding: 12px 20px;
  font-family: 'zabras';
  font-size: 32px;
  border-radius: 12px;
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
  h1 {
    display: none;
  }
}
