body {
  margin: 0;
  padding: 0;
  font-family: 'zabras', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('img/desert.png');
  background-position: center;
}
.gameDiv {
  position: relative;
  height: 480px;
}

canvas {
  background-color: black;
  display: block;
  border-radius: 16px;
}

.turn-screen-div {
  font-family: 'Courier New', Courier, monospace;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.turn-screen-layer {
  text-align: center;
  color: white;
  font-size: 2em;
}

h1 {
  font-size: 64px;
  letter-spacing: 4px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.startScreen {
  width: 720px;
  height: 480px;
  position: relative;
}
.startScreen-img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
}
.controls {
  color: white;
  position: relative;
  top: -6%;
  left: 49%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 54px;
  font-size: 27px;
  width: 500px;
}
.impressumDiv {
  font-family: Arial, Helvetica, sans-serif;
  width: 260px;
  height: 350px;
  position: absolute;
  background-color: orange;
  top: 14%;
  border-radius: 12px;
}
.impressumDiv h2 {
  display: flex;
  justify-content: center;
}
.soundDivOverlay {
  position: absolute;
  top: 6%;
  left: 17%;
}
.soundDivIngame {
  position: absolute;
  top: 13%;
  left: 5%;
  z-index: 100;
}
.mobile-controls {
  display: flex;
  position: relative;
  top: -13%;
  justify-content: space-between;
}

.left-right {
  display: flex;
  gap: 24px;
  margin-left: 30px;
}
.left {
  background-color: orangered;
  border-radius: 30px;
  padding: 8px;
}
.right {
  background-color: orangered;
  border-radius: 30px;
  padding: 8px;
}
.up-throw {
  display: flex;
  gap: 24px;
  margin-right: 30px;
}
.throw {
  background-color: orangered;
  border-radius: 30px;
  padding: 8px;
}
.up {
  background-color: orangered;
  border-radius: 30px;
  padding: 8px;
}

.soundDivOverlay img {
  width: 24px;
  height: 24px;
  background: orange;
  border-radius: 20px;
  padding: 8px;
  cursor: pointer;
}
.soundDivIngame img {
  width: 24px;
  height: 24px;
  background: orange;
  border-radius: 20px;
  padding: 8px;
  cursor: pointer;
}
.d-none {
  display: none;
}
.close {
  display: flex;
  justify-content: end;
  padding: 12px;
}
.close img {
  cursor: pointer;
}

.impressumDiv p {
  display: flex;
  justify-content: center;
  text-align: center;
}
.impressum {
  background-color: orange;
  padding: 10px;
  border-radius: 12%;
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 3%;
}
.start-button {
  cursor: pointer;
  position: absolute;
  top: 10%;
  left: 9%;
  transform: translate(-50%, -50%);
  border: none;
  background: orange;
  padding: 12px 20px;
  font-family: 'zabras';
  font-size: 32px;
  border-radius: 12px;
}
.volume {
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 3%;
}
.endScreen {
  width: 720px;
  height: 480px;
  position: relative;
  border-radius: 12px;
}
.end-background {
  width: 720px;
  height: 480px;
  position: absolute;
  border-radius: 12px;
}
.end-gameover {
  width: 720px;
  height: 480px;
  position: absolute;
  border-radius: 12px;
}
.endScreenWin {
  width: 720px;
  height: 480px;
  position: relative;
  border-radius: 12px;
}
.end-backgroundWin {
  width: 720px;
  height: 480px;
  position: absolute;
  border-radius: 12px;
}
.end-gameoverWin {
  width: 720px;
  height: 480px;
  position: absolute;
  border-radius: 12px;
}
.restart-gameover {
  cursor: pointer;
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
  border: none;
  background: orange;
  padding: 12px 20px;
  font-family: 'zabras';
  font-size: 32px;
  border-radius: 12px;
}

.restart-win {
  cursor: pointer;
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
  border: none;
  background: orange;
  padding: 12px 20px;
  font-family: 'zabras';
  font-size: 32px;
  border-radius: 12px;
}

.homescreen-gameover {
  cursor: pointer;
  position: absolute;
  top: 10%;
  left: 14%;
  transform: translate(-50%, -50%);
  border: none;
  background: orange;
  padding: 12px 20px;
  font-family: 'zabras';
  font-size: 32px;
  border-radius: 12px;
}

.homescreen-win {
  cursor: pointer;
  position: absolute;
  top: 10%;
  left: 14%;
  transform: translate(-50%, -50%);
  border: none;
  background: orange;
  padding: 12px 20px;
  font-family: 'zabras';
  font-size: 32px;
  border-radius: 12px;
}

@media only screen and (max-width: 720px) {
  .gameDiv {
    width: 100%;
  }
  canvas {
    width: 100%;
  }
  .startScreen {
    width: 100%;
  }
  .endScreenWin {
    width: 100%;
  }
  .end-backgroundWin {
    width: 100%;
  }
  .end-gameoverWin {
    width: 100%;
  }
  .endScreen {
    width: 100%;
  }
  .end-background {
    width: 100%;
  }
  .end-gameover {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  .gameDiv {
    height: 100vh;
  }
  canvas {
    height: 100vh;
  }

  h1 {
    display: none;
  }
  .startScreen {
    height: 100vh;
  }
  .endScreenWin {
    height: 100vh;
  }
  .end-backgroundWin {
    height: 100vh;
  }
  .end-gameoverWin {
    height: 100vh;
  }
  .end-background {
    height: 100vh;
  }
  .end-gameover {
    height: 100vh;
  }
  .endScreen {
    height: 100vh;
  }
}
